<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- This is used by the StateManager's replicator. -->
  <Section Name="ReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="ReplicatorEndpoint" />
  </Section>
  <Section Name="Inventory.Service.Settings">
    <Parameter Name="BackupMode" Value="none" />
  </Section>
  <Section Name="Inventory.Service.BackupSettings.Azure">
    <Parameter Name="BackupAccountName" Value="" />
    <Parameter Name="PrimaryKeyForBackupTestAccount" Value="" />
    <Parameter Name="BlobServiceEndpointAddress" Value="" />
    <Parameter Name="BackupFrequencyInSeconds" Value="30" />
    <Parameter Name="MaxBackupsToKeep" Value="5" />
  </Section>
  <Section Name="Inventory.Service.BackupSettings.Local">
    <Parameter Name="BackupArchivalPath" Value="C:\temp" />
    <Parameter Name="BackupFrequencyInSeconds" Value="10" />
    <Parameter Name="MaxBackupsToKeep" Value="5" />
  </Section>

</Settings>
