<!DOCTYPE html>
<html lang="en" ng-app="fabrikam">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="content-type" content="application/force-download">
    <meta name=" viewport" content="width=device-width, initial-scale=1">
    <title>Fabrikam Fashion</title>
    
    <script type="text/javascript" src="~/lib/angular/angular.js"></script>
    <script type="text/javascript" src="~/lib/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="~/js/angular-index.js"></script>

    <!-- Bootstrap -->
    <link href="~/lib/bootstrap-css-only/css/bootstrap.css" rel="stylesheet">
</head>
@RenderBody();
</html>